* text=auto
*.css css
*.php text
*.js text
*.json text
*.txt text
*.scss text
*.py python
*.java java
*.kt kotlin
*.md markdown
*.html html
*.sh bash
*.xml text
*.yaml text
*.yml text
*.svg text
*.puml text
*.ts text
*.tsx text
*.jsx text
*.d.ts text
*.manifest text
*.drawio text
*.jpg binary
*.png binary
*.gif binary
*.bmp binary
*.icns binary
*.zip binary
*.woff binary
*.woff2 binary
*.webp binary
*.ico binary
*.exe binary
*.bz2 binary
*.gz binary
*.tgz binary
*.pdf binary
*.doc* binary
*.xls* binary
*.ppt* binary
