# these secrets are not deployed by azure pipeline as they should be provided by infrastructure-as-code
apiVersion: v1
stringData:
  spring.datasource.password: $(DATABASE_PASSWORD)
  spring.datasource.username: $(DATABASE_USER)
kind: Secret
metadata:
  name: coredb-secret
  namespace: backend
type: Opaque
---
apiVersion: v1
stringDdata:
  spring.kafka.properties.sasl.jaas.config: $(KAFKA_SASL_JAAS_CONFIG)
kind: Secret
metadata:
  name: eventhub-secret
  namespace: backend
type: Opaque
